
body {
  background: linear-gradient(90deg, #eed8df 0%, #636363 100%);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.container-fluid {
  box-sizing: border-box;
  margin: auto;
  padding: 0;
}

@media (min-width: 1280px) {
  *{
    box-sizing: border-box;
    margin: 0 !important;
    padding: 0;
  }
  .container-fluid  {
    
    margin: 0 !important;
    
  }
}